* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D4263;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.wrapper {
    display: flex;
    background-color: #ECDBBA;
    width: 500px;
    height: 70vh;
}